
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
    background: #414042;
    color: #222;
    font: Helvetica;
    line-height: 1.4;
}


body {
    background: #555;
}

.content {
    max-width: 800px;
    max-height: 480px;
    margin: auto;
    background: white;
    padding: none;
}


#rectangle  {
    
    border-radius: 25px;
    width:700px;
    height:200px;
    background:#A7A9AC;
    margin: 0 auto;
    
    
}

.buttonHomePage {
    background-color: #A7A9AC; /* #4CAF50 Green */
    border-radius: 25px;
    width: 700px;
    height: 200px;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 70pt;
    margin-top: 80px;
    position: absolute;
    left: 50%;
    margin-left: -350px;
}

.proofingDials{
    background-color: #A7A9AC; 
    width: 316px;
    height: 316px;
    padding: 100px;
    border: 100px;
    border-radius: 50%;
    
}

.start {
    position: absolute;
    left: 600px;
   top: 150px;
}

.stop {
    position: absolute;
    left: 100px;
    top: 150px;
}

/* #circle {
      width: 316px;
      height: 316px;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;
      background: #A7A9AC;
    }*/
    
#circle {
    background-color: #A7A9AC;
    border: 200px;
    color: black;
    height: 316px;
    width: 316px;
    border-radius: 50%;
    padding: none;
    text-align: center;
            /*
            
            height: 350px;
            width: 216px;
            padding-top: 166px;
            padding-left: 100px;
            padding-right: 200px;
            */
    text-decoration: none;
    display: inline-block;
    font-size: 95pt;
    margin: 4px 2px;
    
}

