/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
    background: #555;
    color: #222;
    font: Montserrat;
    line-height: 1.4;
	max-width: 770px;
}

body {
    background: #555;
	max-width: 770px;
}

.content {
    max-width: 770px;
    max-height: 480px;
    margin: auto;
    background: white;
    padding: none;
}


.rectangle {
    border-radius: 25px;
    width:70%;
    background:#A7A9AC;
	margin-top: 40px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	align-self: center;
}

.buttonText {
	padding: 5%;
	text-align: center;
	font-size: 50pt;
	font-family: Montserrat;
	color: #222;
}

.row {
	max-width: 800px;
	margin-left: 0px;
}

.row.spaced-row {
	margin-top: 20px;
	margin-bottom: 20px;
}

#buttonGroup {
	margin-top: 5%;
	margin-bottom: auto;
}

.proofingDials{
    background-color: #A7A9AC; 
    width: 316px;
    height: 316px;
    padding: 100px;
    border: 100px;
    border-radius: 50%;
    margin-left: auto;
	margin-right: auto;
}

#timeResetButton {
	background-color: #b7b;
	width: 100px;
	height: 100px;
	border: 30px;
	border-radius: 50%;
	color: black;
	margin-top: 20%;
	margin-left: 80%;
	font-size: 20pt;
}

#humidityButton {
	background-color: #b7b;
	width: 100px;
	height: 100px;
	border: 30px;
	border-radius: 50%;
	color: black;
	position: absolute;
	top: 76%;
	left: 59%;
}

#humidity {
	margin-top: -10%;
	font-size: 20pt;
}

#actualTemp {
	background-color: #b7b;
	width: 100px;
	height: 100px;
	border: 30px;
	border-radius: 50%;
	color: black;
	position: absolute;
	top: 10%;
	left: 59%;
	font-size: 20pt;
}

#tempPlus {
	font-size: 70pt;
	color: black;
	position: absolute;
	top: 12%;
	left: 32%;
}

#tempMinus {
	font-size: 80pt;
	color: black;
	position: absolute;
	top: 60%;
	left: 35%;
}

.dialTitle {
	color: black;
	text-align: left;
	font-size: 35pt;
	font-family: Montserrat;
	margin-bottom: -5%;
	margin-left: 5%;
}

.dialText {
	color: black;
	margin-left: -25%;
	margin-top: 5%;
	font-size: 50pt;
}

#timeText {
	color: black;
	margin-left: -60%;
	margin-top: 5%;
	font-size: 50pt;
}

#home-icon {
	position: fixed;
	left: auto;
	bottom: 0%;
}

#lightbulb {
	position: absolute;
	left: 44%;
	bottom: 0%;
}

.recipesHeading {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#bread-table {
	font-size: 20pt;
	max-width: 770px;
}

.form-control {
	font-size: 20pt;
}

.form-control.lbs-input {
	width: 40%;
}

.hiding {
	display: none;
}

.btn-danger {
	color: #000;
	font-size: 20pt;
}

.btn-danger.smaller-text {
	font-size: 12pt;
}

.btn-success {
	color: #000;
	font-size: 20pt;
}

.btn-info {
	background-color: #b7b;
	color: #000;
}

.btn-info.bigger-text {
	font-size: 40pt;
}

.btn.btn-submit {
	background-color: #b7b;
	color: #000;
	font-size: 18pt;
}

#notes-section {
	max-width: 770px;
	padding: 12px;
}

#lbs-label {
	font-size: 24pt;
	margin-left: -12px;
}

.stupid-damn-form-span {
	width: 200px;
	margin-right: 30px;
}
