<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Main Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="icon.png">
        <!-- Place favicon.ico in the root directory -->
		<link rel="stylesheet" href="../css/bootstrap.min.css">
		<script src="../js/bootstrap.min.js"></script>
		<script src="../js/jquery-3.2.1.min.js"></script>
        <link rel="stylesheet" href="../css/main.css">
		<script src="../js/proofing.js"></script>
    </head>
    <body>
		<div id="buttonGroup">
			<button class="rectangle" id="proofing-button">
				<h1 class="buttonText">PROOFING</h1>
			</button>
			<button class="rectangle" id="recipes-button">
				<h1 class="buttonText">RECIPES</h1>
			</button>
		</div>
    </body>
</html>
